<DOCTYPE html>

<html> 
	<head>
		<title>Chitter</title>
			<link href="/css/reset.css" type="text/css" rel="stylesheet">
			<link href="/css/application.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<%= yield	%>
	</body>
</html>